<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/static/styles.css">
        <title>// Flask App //</title>
    </head>
    <body>
        <div id="background" max-width="100%" style="background-color: rgb(34, 34, 34);">
            <div id="nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="login">Login / Signup</a></li>
                    <li><a href="profile">Profile</a></li>
              </ul>
            </div>
        </div>
        <div id="seperator" style="width: 25%; height: 20%; padding: 5%;"></div>
        {% block content %}

        {% endblock content %}
    </body> 
</html>