{% extends "base.html" %}
{% block content %}
<div id="main-login" class="column is-4 is-offset-4">
    <h3 class="login-title">Login</h3>
    <div id="login-window">
        <form id="login-form" method="post" action="/login">
            <fieldset>
                <div class="field">
                    <div class="control">
                        <label for="username" id="label-username">Username
                            <input type="text" name="username" id="username" placeholder="username..." >
                        </label>                       
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <label for="password" id="label-username">Password 
                            <input type="password" name="password" id="password" placeholder="password..." >
                        </label>                      
                    </div>
                </div>
                <div class="field">
                    <label class="checkbox">
                        <input type="checkbox" name="remember">
                        Remember me
                    </label>
                </div>
                <button class="button is-block is-info is-large is-fullwidth">Login</button> 
            </fieldset>
        </form>
    </div>


</div>

{% endblock content %}

